.icon-tq {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -33px -1630px;
	width: 18px;
	height: 20px;
}
.icon-tm {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -78px -1631px;
	width: 14px;
	height: 18px;
}
.icon-tg {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -121px -1633px;
	width: 16px;
	height: 16px;
}
.icon-mh {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -165px -1632px;
	width: 16px;
	height: 18px;
}
.icon-bh {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -208px -1631px;
	width: 18px;
	height: 18px;
}
.icon-hd {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -254px -1632px;
	width: 14px;
	height: 17px;
}
.icon-k {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -294px -1632px;
	width: 18px;
	height: 17px;
}
.icon-cc {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -339px -1633px;
	width: 18px;
	height: 17px;
}
.icon-ts {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -382px -1632px;
	width: 17px;
	height: 18px;
}
.icon-t {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -427px -1634px;
	width: 16px;
	height: 16px;
}
.icon-gt {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -471px -1633px;
	width: 17px;
	height: 17px;
}
.icon-th {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -514px -1632px;
	width: 16px;
	height: 18px;
}
.icon-ns {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -382px -1664px;
	width: 16px;
	height: 16px;
}
.icon-bc {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -552px -1636px;
	width: 14px;
	height: 13px;
}
.icon-tc {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -207px -1667px;
	width: 17px;
	height: 14px;
}
.cty-select {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -847px -35px;
	width: 16px;
	height: 14px;
    position: absolute;
    top: 15px;
    left: 10px;
}
.bell {
	background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -788px -30px;
	width: 22px;
	height: 25px;
	margin-right: 20px;
}
.icon-help {
	background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -89px -145px;
	width: 22px;
	height: 22px;
}
.icon-exit {
	background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -147px -147px;
	width: 18px;
	height: 18px;
}
.icon-warning {
	background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -598px -463px;
	width: 36px;
	height: 37px;
}
.icon-refresh {
	background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -425px -201px;
	width: 21px;
	height: 23px;
}
